.register_checked{
  
  font-weight: bold;

}
#register_main h2{
  font-size: var(--font-title);
  padding: 20px;
}
#register_container h3{
  font-size: var(--font-subtitle);
  padding: 40px;
}
.register_col h4{
  font-size: var(--font-tag);
  
}

.register_col{

  /* box-shadow: 10px 10px 10px #ddd; */
  overflow: hidden;
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 2em;

 
}

#register_container{
  box-shadow: 5px 5px 5px #ddd;;
}





.register_col:hover {
    transform: translateY(-20px);   
    transition: all 0.4s;
    box-shadow: 10px 10px 5px #ddd;
   
}

.register_button{
  padding:20px;
  border: 1px solid var(--color-lighter);
  border-radius: 2em;
  background-color: var(--color-lighter);
  color: white;
  font-size: var(--font-larger);
  cursor: pointer;
  box-shadow: 3px 3px 3px #ddd;

}
.register_button:hover{
  transform: translateY(-5px);   
  transition: all 0.4s;
  box-shadow: 5px 5px 3px #ddd;

}
#register_button{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  
}
@media (min-width:1024px) {

  #register_main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #register_container{
    border: 1px solid var(--color-light-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    background-color: var(--color-light-bg);
    width: calc(90%);

  
  }
  #register_row{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    
  }
  
.register_col{ 
  width: calc(90%/3);
  display: flex;
  flex-direction: column;
  align-items: center;

}



.register_col img{
width: 100%;
height: calc(80%);

}
.register_col h4{
  padding: 20px;
  text-align: center;
}





  
  
}

@media (min-width:768px) and (max-width:1023px) {

  #register_container h3{
    padding-bottom: 80px;
  }


  
  #register_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  #register_container{
    border: 1px solid var(--color-light-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    margin: 40px 0;
    background-color: var(--color-light-bg);
    width: calc(80%);
  
  }
  #register_row{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: calc(70%);
  
  
      
  
  }
.register_col{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
}

  

.register_col img{
  width: 100%;
  height: calc(80%);
  padding-bottom: 20px;
}
  

  
}

@media (max-width:767px) {
  #register_container h3{
    padding-bottom: 80px;
  }


  
  #register_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  #register_container{
    border: 1px solid var(--color-light-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    margin: 40px 0;
    background-color: var(--color-light-bg);
    width: calc(80%);
  
  }
  #register_row{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: calc(70%);
  
  
      
  
  }
.register_col{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
}

  

.register_col img{
  width: 100%;
  height: calc(80%);
  padding-bottom: 20px;
}
  
  
}