/* FILTERS */

.search-btn {
    height: 100%;
    /*padding-left: 12px;*/
    /*padding-right: 12px;*/
}

/* CARD */

.card-body {
    position: relative;
}

.card-title {
    font-size: 16px;
}

.card-img-top {
    transition: transform .2s;
}

.card-img-top:hover {
    transform: scale(1.1);
}

.card-title-link {
    color: #212529;
    text-decoration: none;
}

.card-title-link:hover,
.card-title-link:active {
    color: #e59400;
}

.text-muted {
    font-size: 12px;
}

.add-cart-btn {
    position: absolute;
    top: 15px;
    right: 5px;
    border: none;
    background-color: #fff;
}

.add-cart-icon {
    width: 20px;
}

.card-price {
    color: #e59400;
    cursor: pointer;
}

.card-price:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .form-control {
        margin-bottom: 10px;
    }

    .search-btn {
        height: inherit;
        width: 100%;
        margin-bottom: 10px;
    }
   
    .search-btn-list .search-btn:last-child {
        margin-bottom: 0px;
    }
}
