.color_red{
  color: red;}
.color_green{
  color: green;
}
.register_form{
  font-size: var(--font-text);
}
.register_verify{

  border: 1px solid var(--color-lighter);
  background-color: var(--color-lighter);
  border-radius: 0;
  padding: 5px;
  color: white;
  box-shadow: 3px 3px 3px #ddd;
  cursor: pointer;
  font: var(--font-text);}
.register_verify:hover{
  box-shadow: 5px 5px 5px #ddd;
  font-weight: bold;
  transition: all 0.1s;
}
.register_vendor_button{
  padding:10px;
  border-radius: 1em;

}




@media (min-width:1024px) {
  #register_container{
    width: calc(70%);
  }
  .register_form{
    width: calc(80%);
    padding: 40px 0px;
    margin-left: -130px;

  }

  .register{
    display: grid;
    grid-template-columns: 4fr 4fr 2fr;
    grid-template-rows: 1fr 1fr;
    justify-items: start;

  }
  .register_alert{
    grid-column: -3/-2;
  }
  #register_vendor_button{
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    justify-items: start;
   
  
  }

  #register_gobackbutton{
    margin-left: 30px;
  }
  .register_label{
    margin-left: 100px;
  }
  .register_input,.register_alert{
    margin-left: 20px;
  }
  .register_input input,#register_distribution_hub{
    width: 250px;
    height: 25px;
  
  }
  #register_distribution_hub{
    height: 35px;
    width: 260px;
  }
  .register{
    height: 100px;
  }
  

 

  }

  @media (max-width:1023px) {
    #register_container #register_vendor_heading{
      padding: 50px;
    }
    .register_form{
  
      width: 70%;
      margin-left: 150px;
    }
    .register{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    
    }
    .register_label{
      grid-column: 1/-1;
      padding-bottom: 15px;
    }
    

    #register_vendor_button{
      display: grid;
      grid-template-columns: 8fr 1fr 1fr;
      justify-items: start;
      margin-bottom: 50px;
    }
    .register_vendor_button{
      margin: 0 10px
    }
    #register_continuebutton{
      margin-right: 50px;
    }
    #register_gobackbutton{
      margin-left: 50px;
    }

    .register .register_alert{
      grid-column: 1;
      
    }
    .register_input input{
      width: 200px;
      height: 25px;
    }
    .register{
      height: 100px;
    }
  

   

    
    
  }

  
