.item {
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.item:hover {
    -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.items .item:last-child {
    border-bottom: 1px solid #fff;
}

.item-img {
    width: 40px;
}

.item-link {
    color: #333;
}

.item-link:hover {
    color: #333;
}

.delivery-img,
.cancel-img {
    width: 25px;
}

.price {
    color: #e59400;
    font-weight: bold;
    font-size: 18px;
}