@font-face {
    font-family: "ProximaNova-Regular";
    src: url(https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/font/ProximaNovaFonts/proximanova-regular-webfont.woff2) format("woff2"),
          url(https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/font/ProximaNovaFonts/proximanova-regular-webfont.woff) format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: "ProximaNova-Bold";
    src: url(https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/font/ProximaNovaFonts/proximanova-bold-webfont.woff2) format("woff2"),
          url(https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/font/ProximaNovaFonts/proximanova-bold-webfont.woff) format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: "ProximaNova-Black";
    src: url(https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/font/ProximaNovaFonts/proximanova-black-webfont.woff2) format("woff2"),
          url(https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/font/ProximaNovaFonts/proximanova-black-webfont.woff) format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: "ProximaNova-Semibold";
    src: url(https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/font/ProximaNovaFonts/proximanova-semibold-webfont.woff2) format("woff2"),
          url(https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/font/ProximaNovaFonts/proximanova-semibold-webfont.woff) format('woff');
    font-display: swap;
  }
  
  html {
    font-size: 14px;
    /* overflow:   scroll; */
    /* overflow: hidden; */
    overflow-y: scroll;
  }
  html, body {
    height: 100%;
    margin: 0;
    font-family: "ProximaNova-Regular",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  .text-purple, .text-purple-odd{
    color: #6C54F3!important;
  }
  .text-dark {
    color: #0F146D!important;
  }
  .text-white{
    color: #fff !important;
  }
  .text-blue, .text-blue-odd{
    color: #209ADF!important;
  }
  .text-red {
    color: #DE0A4F!important;
  }
  .text-green {
    color: #38D06C!important;
  }
  .nav .text-dark{
    text-align: left;
    line-height: 24px;
    font-family: ProximaNova-Semibold;
    font-size: 16px;
  } 
  .nav .text-dark:hover{
    color: #0F146D!important;
  } 
  a {
    text-decoration: none;
    color: #0F146D;
  }
  a:hover {
    color: #0F146D;
  }
  a:active {
    color: #209ADF;
    text-decoration: none;
  }
  .btn-link:active {
    color: #209ADF !important;
    text-decoration:none !important;
  }
  .btn-link:hover { 
    text-decoration: none !important; 
  }
  .btn-link:focus {
    color: #209ADF !important;
    text-decoration:none !important;
  }
  .pb-10 {
    padding-bottom: 6rem !important;
  }
  .pt-10 {
    padding-top: 6rem !important;
  }
  .container {
    max-width: 1440px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  .lzd-logo-content img {
    width: 127px;
    height: 40px;
  }
  .lzd-logo-foundation img {
    width: 300px;
    height: 168px;
  }
  .img {
    width: 127px;
  }
  .leaders-image {
    /* background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/leaders.png");
    background-repeat: no-repeat; */
    width: 100%;
    z-index: 0;
  }
  .leaders-container {
    position: relative;
    text-align: center;
    color: white;
  }
  .top-left {
    position: absolute;
    top: 80px;
    left: 160px;
  }
  .top-right {
    position: absolute;
    top: 80px;
    right: 100px;
  }
  .join-team {
    margin-top: 120px;
    margin-left: 250px;
  }
  .join-team h1 {
    font-size: 60px;
  }
  .text-gradient-green {
    background-image: linear-gradient(90deg, #81DE00 0%, #00C6BE 100%);
    color: #FFFFFF;
    display:inline;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 48px;
    text-align: left;
    padding-left: 10px;
  }
  .grad {
    color: white;
    position: relative;
    z-index: 0;
    display: inline-block;
  }
  
  .grad::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fdd104;
    z-index: -1;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
  
    background-image: linear-gradient(270deg, #FF00FF 0%, #F36D00 67%, #FE8E01 100%);
  
  }
  
  .grad-red {
    color: white;
    position: relative;
    z-index: 0;
    display: inline-block;
  }
  
  .grad-red::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #fdd104; */
    z-index: -1;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    background: rgb(250, 30, 18);
  
    /* background-image: linear-gradient(270deg, #FF00FF 0%, #F36D00 67%, #FE8E01 100%); */
  
  }
  .grad-half::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #fdd104;
    background-image: linear-gradient(to right, rgb(229,144,33) , rgb(219,3,248)); 
    z-index: -1;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  
  .grad-green {
    color: white;
    position: relative;
    z-index: 0;
    display: inline-block;
  }
  
  .grad-green::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fdd104;
    background-image: linear-gradient(90deg, #81DE00 0%, #00C6BE 100%);
    z-index: -1;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  
  .grad-blue {
    color: white;
    position: relative;
    z-index: 0;
    display: inline-block;
  }
  
  .grad-blue::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
  
    background-image: linear-gradient(270deg, #37D8FF 0%, #972BFF 100%);
  
  }
  .grad-pink{
    color:white;
    position: relative;
    z-index: 0;
    display: inline-block;
  }
  
  .grad-pink::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    background-color: rgb(250, 79, 252);
  
    /* background-image: linear-gradient(270deg, #37D8FF 0%, #972BFF 100%); */
  
  }
  
  .grad-green-button {
    color: white;
    background-image: linear-gradient(to right, rgb(94,231,34) , rgb(25, 203, 187)); 
  }
  
  .grad-arrow {
    color: white;
    background-image: linear-gradient(0deg,  #FF00FF 0%, #F36D00 67%, #FE8E01 100%); 
    font-size: 30px;
    height: 100px;
    width: 56px;
  }
  
  .grad-arrow-blue {
    color: white;
    background-image: linear-gradient(180deg, #37D8FF 0%, #972BFF 100%);
    font-size: 30px;
    height: 100px;
    width: 56px;
  }
  
  .grad-arrow-green {
    color: white;
    background-image: linear-gradient(180deg, #81DE00 0%, #00C6BE 100%);
    font-size: 30px;
    height: 100px;
    width: 56px;
  }
  /* .arrow {
    height: 60px;
    width: 40px;
    text-align: center;
  } */
  .not-found-404 {
    font-size: 140px;
    font-family: ProximaNova-Extrabold;
    display: inline;
  
    background: linear-gradient(to right, #F36D00, #FF00FF);
    background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .not-found-text {
    font-size: 30px;
    color: #0F146D;
    font-family: ProximaNova-Bold;
    line-height: 46px;
  }
  .arrow {
    /* width: 50%; */
    height: 60px;
    
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='13px' viewBox='0 0 24 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 57.1 (83088) - https://sketch.com --%3E%3Ctitle%3EPath%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1440-copy-6' transform='translate(-147.000000, -860.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M150.042397,860 L147.107877,863.075884 L154.859804,870.471544 C157.178409,872.68359 160.826037,872.683195 163.144163,870.470647 L170.892123,863.075566 L170.892123,863.075566 L167.956937,860.000318 L161.072651,866.57106 C159.913588,867.677334 158.089774,867.677532 156.930472,866.571509 L150.042397,860 L150.042397,860 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-position-x: 50% */
  }
  
  i {
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  .home-bg {
    background-color: #cccccc;
    height: 50vw; 
    max-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .no-webp .home-bg {
    background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/home-hero_x1.jpg");
  }
  .webp .home-bg {
    background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/home-hero_x1.webp");
  }
  .about-bg {
    background-color: #cccccc;
    height: 50vw; 
    max-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .no-webp .about-bg {
    background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/about-us-hero_x1.jpg");
  }
  .webp .about-bg {
    background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/about-us-hero_x1.webp");
  }
  .foundation-bg {
    background-color: #cccccc;
    height: 50vw; 
    max-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .no-webp .foundation-bg {
    background-image: url("../image/foundation_header.jpeg");
  }
  .webp .foundation-bg {
    background-image: url("../image/foundation_header.webp");
  }
  .careers-bg, .intern-bg, .ipr-bg {
      height: 50vw; 
      max-height: 700px;
      /* Center and scale the image nicely */
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
  }
  .no-webp .careers-bg {
    background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/careers-headerImage_x1.jpg");
  }
  .webp .careers-bg {
    background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/careers-headerImage_x1.webp");
  }
  
  .no-webp .intern-bg {
    background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/intern/intern-headerImage_x1.jpg");
  }
  .webp .intern-bg {
    background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/intern/intern-headerImage_x1.webp");
  }
  
  .no-webp .ipr-bg {
    background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/ipr/headerImage_x1.jpg");
  }
  .webp .ipr-bg {
    background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/ipr/headerImage_x1.webp");
  }
  @media 
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 992px), 
    (min-resolution: 192dpi) and (min-width: 992px)  { 
    .no-webp .home-bg {
      background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/home-hero_x2.jpg");
    }
    .webp .home-bg {
      background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/home-hero_x2.webp");
    }
    .no-webp .about-bg {
      background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/about-us-hero_x2.jpg");
    }
    .webp .about-bg {
      background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/about-us-hero_x2.webp");
    }
    .no-webp .careers-bg {
      background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/careers-headerImage_x2.jpg");
    }
    .webp .careers-bg {
      background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/careers-headerImage_x2.webp");
    }
    .no-webp .intern-bg {
      background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/intern/intern-headerImage_x2.jpg");
    }
    .webp .intern-bg {
      background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/intern/intern-headerImage_x2.webp");
    }
    .no-webp .ipr-bg {
      background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/ipr/headerImage_x2.jpg");
    }
    .webp .ipr-bg {
      background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/ipr/headerImage_x2.webp");
    }
  }

  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .nav-header {
    text-align: center;
    position: absolute;
    top: 40px;
  }
  .nav-header-mt-40 {
    margin-top: 40px;
  }
  .navbar {
    padding: .5rem 0rem;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-23%, -50%);
  }
  
  .carrer-text {
    /* text-align: center;
    position: absolute;
    top: 88%;
    left: 30%;
    transform: translate(-10%, -50%); */
    text-align: center;
  }
  .carrer-text span {
    margin: auto; /* Important */ 
    text-align: center; 
  }
  .title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-bg {
    /* background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/Group\ 3_175.png"); */
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  /* .map {
    background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/map.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
  } */
  .dot, .box {
    position: absolute;
  }
  .indonesia {
    top: 86.5%;
    left: 41.5%;
  }
  .singapore {
    top: 68.5%;
    left: 32.5%;
  }
  .vietnam {
    top: 43%;
    left: 40%;
  }
  .philippines {
    top: 33%;
    left: 79.5%;
  }
  .malaysia {
    top: 59.5%;
    left: 26.5%;
  }
  .thailand {
    top: 33%;
    left: 24.5%;
  }
  .wrapper {
    /* width: 100%;
    height: 100%; */
    position: relative;
  }
  
  /* carousel */
  
  .carousel-indicators {
    bottom: -60px;
    align-items: center;
    /* right: -20%; */
    /* left: auto;
    z-index: 15;
    display: block;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%; */
  }
  
  .carousel-indicators li {
      /* border-radius: 12px; */
      width: 6px;
      height: 6px;
      background-color:#209ADF;
      border-radius: 100%;
      margin-right: 8px;
      margin-left: 8px;
      opacity: 1;
  }
  
  .carousel-indicators .active {
    background-color:rgb(94,231,34);
    border: 6px solid rgb(94,231,34);
    background-color:white;
  }
  
  /* .carousel-indicators .active::before {
    content: "";
    position: absolute;
    z-index:-1;
  
    background-image: linear-gradient(90deg, #8AED00 0%, #00D2CA 100%);
    width: 18px;
    height: 18px;
  
    border-radius: 100%;
    display: flex;
  
    margin-top: -6px;
    margin-left: -6px;
    
  } */
  
  .carousel-control-next, .carousel-control-prev {
    position: absolute;
    top:inherit;
    bottom: -50px;
    height: 40px;
    width: 20px;
    opacity: 1;
  }
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='13px' height='24px' viewBox='0 0 13 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 57.1 (83088) - https://sketch.com --%3e%3ctitle%3ePath Copy 2%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='1440-copy-29' transform='translate(-1173.000000, -740.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3e%3cpath d='M1171.83052,744.680241 L1168.89599,747.756125 L1176.64792,755.151786 C1178.96653,757.363832 1182.61415,757.363437 1184.93228,755.150889 L1192.68024,747.755807 L1192.68024,747.755807 L1189.74505,744.680559 L1182.86077,751.251302 C1181.70171,752.357576 1179.87789,752.357773 1178.71859,751.25175 L1171.83052,744.680241 L1171.83052,744.680241 Z' id='Path-Copy-2' transform='translate(1180.788118, 751.892123) scale(-1, -1) rotate(90.000000) translate(-1180.788118, -751.892123) '%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");  
  
  }
  .carousel-control-prev-icon {
    /* 1e87d7 */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='13px' height='24px' viewBox='0 0 13 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 57.1 (83088) - https://sketch.com --%3e%3ctitle%3ePath%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='1440-copy-21' transform='translate(-577.000000, -1764.000000)' fill='%23209ADF' fill-rule='nonzero'%3e%3cpath d='M573.580515,1768.7829 L570.645994,1771.85878 L578.397922,1779.25444 C580.716527,1781.46649 584.364155,1781.46609 586.682281,1779.25355 L594.430241,1771.85846 L594.430241,1771.85846 L591.495055,1768.78322 L584.610769,1775.35396 C583.451706,1776.46023 581.627892,1776.46043 580.468589,1775.35441 L573.580515,1768.7829 L573.580515,1768.7829 Z' id='Path' transform='translate(582.538118, 1775.994780) rotate(90.000000) translate(-582.538118, -1775.994780) '%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  }
  .carousel-control-prev-icon-red {
    /* DE0A4F */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='13px' height='24px' viewBox='0 0 13 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 57.1 (83088) - https://sketch.com --%3e%3ctitle%3ePath%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='1440-copy-21' transform='translate(-577.000000, -1764.000000)' fill='%23DE0A4F' fill-rule='nonzero'%3e%3cpath d='M573.580515,1768.7829 L570.645994,1771.85878 L578.397922,1779.25444 C580.716527,1781.46649 584.364155,1781.46609 586.682281,1779.25355 L594.430241,1771.85846 L594.430241,1771.85846 L591.495055,1768.78322 L584.610769,1775.35396 C583.451706,1776.46023 581.627892,1776.46043 580.468589,1775.35441 L573.580515,1768.7829 L573.580515,1768.7829 Z' id='Path' transform='translate(582.538118, 1775.994780) rotate(90.000000) translate(-582.538118, -1775.994780) '%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    
  }
  .carousel-control-next-icon-red {
    /* DE0A4F */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='13px' height='24px' viewBox='0 0 13 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 57.1 (83088) - https://sketch.com --%3e%3ctitle%3ePath Copy 2%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='1440-copy-29' transform='translate(-1173.000000, -740.000000)' fill='%23DE0A4F' fill-rule='nonzero'%3e%3cpath d='M1171.83052,744.680241 L1168.89599,747.756125 L1176.64792,755.151786 C1178.96653,757.363832 1182.61415,757.363437 1184.93228,755.150889 L1192.68024,747.755807 L1192.68024,747.755807 L1189.74505,744.680559 L1182.86077,751.251302 C1181.70171,752.357576 1179.87789,752.357773 1178.71859,751.25175 L1171.83052,744.680241 L1171.83052,744.680241 Z' id='Path-Copy-2' transform='translate(1180.788118, 751.892123) scale(-1, -1) rotate(90.000000) translate(-1180.788118, -751.892123) '%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");  
  }
  
  .carousel-control-next-icon-blue {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='13px' height='24px' viewBox='0 0 13 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 57.1 (83088) - https://sketch.com --%3E%3Ctitle%3EPath Copy%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1440-copy-21' transform='translate(-849.000000, -1764.000000)' fill='%23209ADF' fill-rule='nonzero'%3E%3Cpath d='M847.504279,1768.7829 L844.569759,1771.85878 L852.321686,1779.25444 C854.640292,1781.46649 858.287919,1781.46609 860.606045,1779.25355 L868.354006,1771.85846 L868.354006,1771.85846 L865.418819,1768.78322 L858.534533,1775.35396 C857.37547,1776.46023 855.551656,1776.46043 854.392354,1775.35441 L847.504279,1768.7829 L847.504279,1768.7829 Z' id='Path-Copy' transform='translate(856.461882, 1775.994780) scale(-1, 1) rotate(90.000000) translate(-856.461882, -1775.994780) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  
  .lzd-logo-foundation img {
    width: 300px;
    height: 168px;
    margin-left: -100px;
    margin-top: -50px;
  }
  
  .bg-color-red {
    /* background-color:rgb(211,0,62); */
    background: linear-gradient(to right, white 50%, rgb(211,0,62) 50%);
  }
  .bg-color-red-40 {
    background: linear-gradient(to right, rgb(211,0,62) 40%, #FFFFFF 40%,  #FFFFFF 100% );
  }
  .bg-color-red-50 {
    background: linear-gradient(to right, rgb(211,0,62) 50%, #FFFFFF 50%,  #FFFFFF 100% );
  }
  .bg-color-pink{
    /* background-color:rgb(250, 79, 252); */
    background: linear-gradient(to right, white 50%, rgb(16, 183,187) 50%);
  }
  .bg-color-blue {
    background: linear-gradient(to right, white 50%, #209ADF 50%);
  }
  .bg-color-blue-dark {
    background-image: linear-gradient(to right,  white 50%, #0F146D 50%);
  }
  .bg-color-blue-dark-full {
    background-color: #0F146D;
  }
  /* .bg-color-white-blue-dark {
    background-image: linear-gradient(to right, white 0, white 33.333%, #209ADF 33.333%, #209ADF 66.666%, #0F146D 66.666%, #0F146D 100%)
  } */
  .full-height {
    /* height:100vh; */
    min-height:100vh;
    /* max-height: 1000px; */
  }
  
  .blue-color {
    color: #209ADF;
  }
  .bg-blue {
    background: #209ADF;
  }
  .bg-light-blue {
    background: #d9eef9;
  }
  .bg-light-purple{
    background: rgb(141,141,255);
  }
  .bg-purple{
    background: rgb(170,60,255);
  }
  .bg-heave-purple{
    background: rgb(102,51,204);
  }
  .bg-red {
    background: #DE0A4F;
  }
  .bg-blue-dark {
    background: #0F146D;
  }
  .header {
    background-color: white;
    opacity:0.6;
    z-index: 999;
  
  }
  /* .navbar {
    padding-left:8.3333% !important;
    padding-right:8.3333% !important;
  } */
  
  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
    /* right: 0; */
  }
  
  /* .sticky + .content {
    padding-top: 102px;
  } */
  .semi-bold {
    line-height: 24px;
    font-family: ProximaNova-Semibold;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .semi-bold-20 {
    text-align: left;
    line-height: 24px;
    font-family: ProximaNova-Semibold;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .semi-bold-18 {
    text-align: left;
    line-height: 22px;
    font-family: ProximaNova-Semibold;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .semi-bold-30 {
    text-align: left;
    line-height: 37px;
    font-family: ProximaNova-Semibold;
    font-size: 30px;
    letter-spacing: 0;
  }
  .semi-bold-28 {
    font-family: ProximaNova-Semibold;
    font-size: 28px;
    letter-spacing: 0;
  }
  .black-30{
    text-align: left;
    line-height: 36px;
    font-family: ProximaNova-Black;
    font-size: 30px;
    letter-spacing: 0;
  }
  .black-28{
    font-family: ProximaNova-Black;
    font-size: 28px;
    letter-spacing: 0;
  }
  .semi-bold-20-btn {
    text-align: center;
    font-family: ProximaNova-Semibold;
    font-size: 20px;
    letter-spacing: 0;
  }
  
  .section-title {
    text-transform: uppercase;
    font-size: 34px;
    color: #FFFFFF;
    font-family: ProximaNova-Bold;
    /* line-height: 46px; */
  }
  .about-header-title-container{
    display: flex;
    margin-bottom: 3rem;
    justify-content: center;
    width: 100%;
  }
  .about-section-title {
    /* text-transform: uppercase; */
    /* font-size: 26px; */
    font-size: 2rem;
    color: #FFFFFF;
    font-family: ProximaNova-Bold;
    /* line-height: 46px; */
  }
  .about-section-title-2 {
    /* text-transform: uppercase; */
    /* font-size: 26px; */
    font-size: 32px;
    color: #FFFFFF;
    font-family: ProximaNova-Bold;
    /* line-height: 46px; */
  }
  .about-swiper-text{
    color:white;
  }
  .about-section-title-mobile {
    /* text-transform: uppercase; */
    /* font-size: 20px; */
    font-size: 1rem;
    color: #FFFFFF;
    font-family: ProximaNova-Bold;
    text-align: center;
    /* line-height: 46px; */
  }
  .page-title {
    text-transform: uppercase;
    font-size: 34px;
    color: #FFFFFF;
    font-family: ProximaNova-Bold;
  }
  .section-subtitle {
    line-height: 36px;
    font-size: 24px;
    color: #FFFFFF;
    font-family: ProximaNova-Bold;
  }
  .section-content {
    line-height: 20px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: justify;
  
  }
  
  .section-country {
    line-height: 24px;
    
    font-size: 18px; /* NOT tally */
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 24px;
  }
  .departments p {
    text-transform: uppercase;
  }
  .text-justify {
    text-align: justify;
  }
  .text-left {
    text-align: left;
  }
  .text-center{
    text-align: center;
  }
  .text-justify-word {
    text-justify:inter-word
  }
  .text-justify-hyphens {
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
  }
  .large-number {
    font-size: 95px;
    vertical-align:top;
    display: inline-block;
    line-height: 100%;
    font-family: "ProximaNova-Black";
  }
  
  .large-number-60 {
    font-size: 60px;
    vertical-align:top;
    display: inline-block;
    line-height: 100%;
    font-family: "ProximaNova-Black";
  }
  .large-number-80 {
    font-size: 80px;
    vertical-align:top;
    display: inline-block;
    line-height: 100%;
    font-family: "ProximaNova-Black";
  }
  
  .large-number-140 {
    font-size: 140px;
    vertical-align:top;
    display: inline-block;
    line-height: 100%;
    font-family: "ProximaNova-Black";
  }
  .vision-box{
    border: 1px solid #C5C5C5;
    height: 180px;
    color: #0F146D;
  }
  .vision-box p, .mission-box p{
   margin: 20px;
   font-size: 28px;
  }
  
  
  .mission-box {
    border: 1px solid #C5C5C5;
    color: #0F146D;
  }
  /*
    leader card
  */
  
    
  .mycard {
    background-image: linear-gradient(to bottom,  white 80px , rgb(208,234,247) 80px, rgb(208,234,247) 100%);
    background-color: white;
    min-width: 260px;
    max-width: 450px;
  }
  .mycard-body{
    padding-top: 100px;
    padding-left: 1.0rem;
    /* min-height: 240px; */
    /* flex: 1 1 auto; */
  }
  
  .mycard-title{
    text-align: left;
    /* line-height: 36px; */
    font-family: "ProximaNova-Bold";
    font-size: 24px;
    color: #0F146D;
    /* max-width: 200px; */
    
  }
  
  .mycard-text{
    font-family: ProximaNova-Semibold;
    font-size: 16px;
    color: #0F146D;
  }
  .mycard-img{
     max-height: 250px;
     /* width: 100%; */
    /* max-width: 280px; */
    /* position:absolute;
    bottom: 0px;
    right: 12px;
    z-index:10; */
  }
  
  .mycard-body a {
    
    font-size: 16px;
    /* color: #209ADF; */
  }
  .go-back {
    font-size: 18px;
  }
  /*
    contacts
  */
  .country-link {
    text-align: left;
    line-height: 24px;
    
    font-size: 18px;
    color: #0F146D;
    font-family: ProximaNova-Semibold;
    /* min-width: 100px; */
  }
  .country-link:hover {
    color: #209ADF;
  }
  .address-title {
    line-height: 36px;
    
    font-size: 28px;
    color: #0F146D;
    font-family: ProximaNova-Bold;
  }
  .address {
    text-align: left;
    line-height: 24px;
    
    font-size: 18px;
    color: #0F146D;
    font-family: ProximaNova-Semibold;
  }
  .footer-bg {
    background: #209ADF;
    height: 150px;
  }
  .wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    /* margin-bottom: -150px; */
  }
  
  .border-blue {
    border-color: #209ADF;
  }
  
  .form-control::-webkit-input-placeholder {
    color: #209ADF;
  }
  
  .quote {
    font-size: 60px;
    font-family: ProximaNova-Semibold; 
    line-height: 24px;
  }
  .we-are-card {
    max-width: 140px;
    text-align: center;
  }
  .image-cropper {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    /* position: relative; */
    /* border:1px solid white; */
  }
  
  .profile-pic {
    /* display: inline; */
    /* margin: 0 auto; */
    /* margin-left: -25%; */
    height: 100%;
    width: auto;
  }
  
  .department-image {
    width: 100%;
  }
  .department-content h3 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 28px;
    font-family: ProximaNova-Bold;
  }
  .department-content p {
    line-height: 20px;
    font-size: 16px;
    letter-spacing: 0;
    text-align: justify;
  }
  .bg-about-footer {
    /* background-image: linear-gradient(to bottom,  white 60%, #0F146D 40%); */
    background: #0F146D;
  }
  .bg-contact-footer {
    background-image: linear-gradient(to bottom,  white calc(50% + 260px), #209ADF calc(50% - 260px));
  }
  
  .fixed-b {
    position: fixed;
    bottom: 0px;
    padding-left:calc(8.3333% + 12px )!important;
  }
  
  .country-dot{
    /* border-radius: 12px; */
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin-right: 8px;
    margin-left: 8px;
    border: 6px solid #0F146D;
    background-color:white;
  }
  /* .contacts-detail{
    display: none;
  } */
  
  @media only screen and (max-width: 1199px) and (min-width: 992px) {
    .mycard-title {
      max-width: 100%;
    }
  }
  @media only screen and (max-width: 991px) {
    .lzd-logo-content img {
      width: auto;
      height: 25px;
    }
    .section-title {
      font-size: 26px;
    }
    .section-title-2 {
      font-size: 26px;
      color: #FFFFFF;
      font-family: ProximaNova-Bold;
    }
    /* .section-content, .section-country, .section-content-lg {
      color: #0F146D;
    } */
    /* .carousel-indicators {
      bottom: -30%;
    } */
    .bg-color-red, .bg-color-red-40 {
      background:rgb(211,0,62);
    }
    .bg-color-pink {
      background:rgb(16, 183,187);
    }
    .bg-color-red-50{
      /* background:rgb(211,0,62); */
      background: transparent;
    }
    .bg-color-blue {
      background: #209ADF;
    }
    .bg-color-blue-dark {
      background: #0F146D;
    }
    /* .bg-color-white-blue-dark {
      background-image: linear-gradient(to bottom, white 0, white 30%, #209ADF 30%, #209ADF 65%, #0F146D 65%, #0F146D 100%)
    } */
    .bg-about-footer {
      /* background-image: linear-gradient(to bottom,  white 50%, #0F146D 50%); */
      /* background-image: linear-gradient(to bottom,#0F146D 50% #0F146D 100%); */
      background: #0F146D;
    }
  
    .bg-contact-footer {
      background-image: linear-gradient(to bottom,  white 90%, #209ADF 10%);
    }
    .carousel-control-next, .carousel-control-prev {
      position: absolute;
      top:inherit;
      bottom: -50px;
      height: 40px;
      width: 20px;
      opacity: 1;
    }
    .carousel-indicators {
      /* bottom: -25%; */
      bottom: -60px;
      align-items: center;
    }
    .carousel-indicators li {
      background-color:white;
  }
    .section, .section-first {
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 20px;
    }
  
    .full-height {
      /* height:95vh; */
      /* height:auto; */
      min-height:10px;
      /* max-height: none; */
      /* height: 800px; */
    }
    .home-bg {
      /* background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/home hero_sm.jpg"); */
      background-color: #FFFFFF;
      height: 50vw;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .careers-bg,  .intern-bg {
      /* background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/careers_headerImage.jpg"); */
      background-color: #FFFFFF;
      height: 50vw;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .image-bg {
      /* background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/Group\ 3_175.png"); */
      background-color: #cccccc;
      height: 50vw;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .about-bg {
      background-image: url("https://lazada-com.oss-ap-southeast-1.aliyuncs.com/static/image/about_1.jpg");
      background-color: #cccccc;
      height: 50vw;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      
    }
    .hero-text {
      text-align: left;
      position: absolute;
      top: 80%;
      left: 24px;
      right: 24px;
      transform: translate(0%, -50%);
    }
    .title-text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .navbar ul.navbar-nav{
      background-color:transparent;
    }
    /* .hero-text {
      display: none;
    } */
    .navbar-dark  {
      border-color: #FFFFFF;
    }
    .navbar-dark .navbar-toggler {
      border-color: transparent;
    }
    .navbar-dark .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  
    .navbar-dark button:focus,  .navbar-light button:focus  {
      outline: 0px auto -webkit-focus-ring-color;
    }
  
    .navbar-light  {
      border-color: #0F146D;
    }
    .navbar-light .navbar-toggler {
      border-color: #FFFFFF;
    }
    .navbar-light .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(15, 20, 109, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  
    .nav-header {
      top: 20px;
    }
    .nav-header-mt-40 {
      margin-top: 20px;
    }
    .mycard-title {
      max-width: 100%;
    }
    .home-supercharge .section-country, .home-supercharge .section-content{
      color: #0F146D ;
    }
  
    .we-are-card .semi-bold-20{
      font-size: 14px;
      max-width: 80px;
    }
     .image-cropper {
      width: 80px;
      height: 80px;
    }
  }
  
  @media only screen and (min-width: 1460px) {
    .fixed-b {
      position: fixed;
      bottom: 0px;
      padding-left:calc(50% -  600px + 12px )!important;
    }
  }
  
  
  /* for debug only
   to show grid  */
  /* div[class="row"] {
    outline: 1px dotted rgba(0, 0, 0, 0.25);
  }
  
  div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
    outline: 1px dotted rgba(0, 0, 0, 0.5);
  } */
  
  /* animation start
  */
  .transition {
    width: 20px;
    height: 20px;
    background: red;
    -webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
    transition: all 2s; 
    margin-top:180px;
  }
  
  .transitionend {
    height: 200px;
    margin-top:0;
  }
  .height-holder {
    height: 200px;
  }
  
  .box {
    color: white;
    background: #0F146D;
    box-shadow: 0 0 0 14px  #0F146D;
    width: 320px;
    height: 140px;
    margin-top: -170px;
    margin-left: 30px;
    padding: 5px;
  }
  .pulse {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: white;
    box-shadow: 0 0 0 14px  #0F146D;
    /* background: #0F146D; */
    /* box-shadow: 0 0 0 rgba(56, 47, 13, 0.9); */
    /* animation: pulse 2s infinite; */
  }
  
  /* @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(56, 47, 13, 0.9);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(56, 47, 13, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(56, 47, 13, 0);
    }
  } */
  
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    /* 0%, 20%, 50%, 80%, 100% {
      transform: translateY(15px);
    }
    40% {
      transform: translateY(-12px);
    }
    60% {
      transform: translateY(-12px);
    } */
    0%{
      transform: translateY(30px);
    }
    50% {
      transform: translateY(-12px);
    }
    100% {
      transform: translateY(30px);
    }
  }
  
  /* Absolute Center Spinner */
  .loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  /* for cNPS page */
  /* @media only screen and (min-width: 576px) {
    .question-wrap {
      padding: 60px;
    }
  } */
  
  .question-wrap {
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    padding: 50px;
  }
  @media (max-width: 576px){
    .question-wrap {
      padding: 40px;
    }
  }
  .question-number {
    text-align: left;
    line-height: 46px;
    font-family: ProximaNova-Bold;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 46px;
  }
  .question-text {
    text-align: left;
    line-height: 28px;
    font-family: ProximaNova-Semibold;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .likely {
    text-align:center;
  }
  .likely div{
    border-bottom: 1px solid #CCCCCC;
    font-family: ProximaNova-Bold;
    font-size: 10px;
    color: #0F146D;
    letter-spacing: 0;
  }
  .likely-padding {
    margin-left: 12px;
    margin-right: 12px;
  }
  .likely span{
    text-align: center;
    line-height: 12px;
    font-family: ProximaNova-Bold;
    font-size: 10px;
    color: #0F146D;
    letter-spacing: 0;
    text-align: center;
    width: 47px;
    height: 24px;
  }
  
  @media (max-width: 576px){
    .mycard-body{
      padding-left: 1rem;
    }
    .mycard-title{
      font-size: 20px;
    }
    .mycard-img{
      width: 100%;
    }
    .mycard-text{
      font-size: 14px;
    }
    .address-title {
      font-size: 24px;
    }
    .address {
      font-size: 16px;
    }
    .vision-box{
      height: 100%;
    }
    .vision-box p, .mission-box p{
      font-size: 24px;
     }
     .we-are-card {
      max-width: 60px;
      text-align: center;
    }
    .we-are-card .semi-bold-20{
      font-size: 12px;
    }
     .image-cropper {
      width: 60px;
      height: 60px;
    }
    .go-back {
      font-size: 16px;
    }
    .page-title {
      font-size: 24px;
    }
    .department-content h3 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 24px;
    }
    .section-title {
      font-size: 20px;
    }
    .section-country {
      font-size: 16px;
    }
    .home-supercharge .section-country, .home-supercharge .section-content{
      color: #0F146D ;
    }
    .quote {
      font-size: 40px;
    }
    .departments .semi-bold{
      font-size: 12px;
      line-height: 16px;
    }
    .departments .department-image{
      height: 20vw;
      object-fit: cover;
    }
  }
  @media (max-width: 370px) {
    .section-title {
      font-size: 16px;
    }
    .section-title-2 {
      font-size: 20px;
    }
  
  }
  .custom-radio-button .col {
    text-align: center;
  }
  .custom-radio-button [type="radio"]:checked,
  .custom-radio-button [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  .custom-radio-button [type="radio"]:checked + label,
  .custom-radio-button [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-top: 48px;
      cursor: pointer;
      line-height: 48px;
      display: inline-block;
      color: #0F146D;;
  }
  .custom-radio-button [type="radio"]:checked + label:before,
  .custom-radio-button [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: -15px;
      top: 0;
      width: 40px;
      height: 40px;
      
      border-radius: 100%;
  }
  
  .custom-radio-button .red [type="radio"]:checked + label:before,
  .custom-radio-button .red [type="radio"]:not(:checked) + label:before {
      background: rgba(222, 10, 79, 0.55); 
      border: 10px solid rgba(222, 10, 79, 1); 
      /* background: #DE0A4F 100% ; */
  }
  .custom-radio-button .orange [type="radio"]:checked + label:before,
  .custom-radio-button .orange [type="radio"]:not(:checked) + label:before {
      background: rgba(255, 128, 48, 0.55); 
      border: 10px solid rgba(255, 128, 48, 1); 
      /* background: #FF8030 100% ; */
  }
  .custom-radio-button .yellow [type="radio"]:checked + label:before,
  .custom-radio-button .yellow [type="radio"]:not(:checked) + label:before {
      background: rgba(240, 240, 0, 0.55); 
      border: 10px solid #F0F000; 
      /* background: #F0F000 100%; */
  }
  .custom-radio-button .green [type="radio"]:checked + label:before,
  .custom-radio-button .green [type="radio"]:not(:checked) + label:before {
      background: rgba(41, 219, 72, 0.55); 
      border: 10px solid #29DB48; 
      /* background: #29DB48 100%; */
  }
  .custom-radio-button .blue [type="radio"]:checked + label:before,
  .custom-radio-button .blue [type="radio"]:not(:checked) + label:before {
      background: rgba(32, 154, 223, 0.55); 
      border: 10px solid #209ADF; 
      /* background: #209ADF 100%; */
  }
  
  
  .custom-radio-button [type="radio"]:checked + label:after,
  .custom-radio-button [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      top: 10px;
      left: -5px;
      border-radius: 100%;
      border: 4px solid #FFFFFF; 
      background-color: rgba(0, 0, 0, 1);
  }
  .custom-radio-button [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  .custom-radio-button [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  
  /* mobile size radio range */
  
  .rangeslider__tooltip {
    display: block;
    margin-top: 2em;
    font-size: 12px;
    color: #0F146D;
  }
  
  .rangeslider,
  input[type='range'] {
    max-width: 500px;
  }
  
  .rangeslider__handle {
    border-radius: 22px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
  }
  
  .rangeslider__handle:after {
    background: 0;
  }
  
  
  .rangeslider,
  .rangeslider__fill {
    display: block;
    border-radius: 10px;
  }
  
  .rangeslider {
    background-image: linear-gradient(90deg, #DE0A4F 7%, #FF8030 15%, #FF8030 24%, #FF8030 33%, #FF8030 41%, #FF8030 50%, #FF8030 59%, #F0F000 67%, #F0F000 76%, #29DB48 85%, #209ADF 94%);
  border-radius: 20px;
  width: 320px;
  height: 40px;
  border-radius: 20px;
    position: relative;
  }
  
  .rangeslider--horizontal {
    /* height: 10px; */
    height: 14px;
    width: 100%;
  }
  
  .rangeslider--vertical {
    width: 20px;
    min-height: 150px;
    max-height: 100%;
  }
  
  .rangeslider--disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }
  
  .rangeslider__fill {
    position: absolute;
  }
  .rangeslider--horizontal .rangeslider__fill {
    top: 0;
    height: 100%;
  }
  .rangeslider--vertical .rangeslider__fill {
    bottom: 0;
    width: 100%;
  }
  
  .rangeslider__handle {
    background: white;
    border: 8px solid #4bc67d;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  
  .rangeslider__handle.js-low {
    border-color: #DE0A4F;
  }
  
  .rangeslider__handle.js-med {
    border-color: #FF8030;
  }
  
  .rangeslider__handle.js-yellow {
    border-color: #F0F000;
  }
  
  .rangeslider__handle.js-green {
    border-color: #29DB48;
  }
  
  .rangeslider__handle.js-high {
    border-color: #209ADF;
  }
  
  .rangeslider__handle:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .rangeslider--horizontal .rangeslider__handle {
    top: -14px;
    touch-action: pan-y;
    -ms-touch-action: pan-y;
  }
  .rangeslider--vertical .rangeslider__handle {
    left: -10px;
    touch-action: pan-x;
    -ms-touch-action: pan-x;
  }
  
  input[type="range"]:focus + .rangeslider .rangeslider__handle {
    -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
    -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
    box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  }
  .wrap-text{
    word-spacing: 30000px; 
  }

  .carousel-indicators li {
    /* border-radius: 12px; */
    width: 6px;
    height: 6px;
    background-color:#DE0A4F;
    border-radius: 100%;
    margin-right: 8px;
    margin-left: 8px;
    opacity: 1;
  }
  .carousel-indicators .active {
    background-color:white;
    border: 6px solid #FE8E01;
  }
  

  @media only screen and (max-width: 991px) {
      /* .carousel-indicators .active {
          background-color:#DE0A4F;
          border: 6px solid white;
      } */
    .carousel-control-prev-icon-red {
      /* 1e87d7 */
      background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='13px' height='24px' viewBox='0 0 13 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 57.1 (83088) - https://sketch.com --%3e%3ctitle%3ePath%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='1440-copy-21' transform='translate(-577.000000, -1764.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3e%3cpath d='M573.580515,1768.7829 L570.645994,1771.85878 L578.397922,1779.25444 C580.716527,1781.46649 584.364155,1781.46609 586.682281,1779.25355 L594.430241,1771.85846 L594.430241,1771.85846 L591.495055,1768.78322 L584.610769,1775.35396 C583.451706,1776.46023 581.627892,1776.46043 580.468589,1775.35441 L573.580515,1768.7829 L573.580515,1768.7829 Z' id='Path' transform='translate(582.538118, 1775.994780) rotate(90.000000) translate(-582.538118, -1775.994780) '%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
      }
      .carousel-indicators li {
          background-color: white;
      }
      .nav-header-mt-40{
          text-align: center;
          position: absolute;
          top: 0px;
      }
  }