.info {
    padding: 10px 20px;
    display: inline-block;
    position: relative;
}

.info-title,
.info-short-desc,
.info-step {
    font-weight: bold;
}

.info-short-desc {
    text-transform: uppercase;
}

.info-step {
    font-size: 40px;
    position: absolute;
    top: 0px;
    right: 20px;
}

.info-desc {
    font-size: 14px;
}

.first {
    background-color: #d9eef9;
    color: #0F146D;
}

.second {
    background-color: #209ADF;
    color: #fff;
}

.third {
    background-color: #0F146D;
    color: #fff;
}
