<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="views/style.css">
    <link rel="stylesheet" href="views/about-style.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img class="navbar-logo" src="../images/logo-big.png" alt="lazada logo">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a id="nav-home" class="nav-link active" aria-current="page" href="/">Lazada</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container mt-4">
        <div class="row d-flex justify-content-center">
            <div class="col-md">
                <div class="card p-4 mt-3">
                    <img src="../../images/lazada.png" class="card-img-top" alt="...">
                    <h3 class="heading mt-3 mb-3 text-center">Setting the pace for a retail revolution</h3>
                    <p>Founded in 2012, Lazada Group is Southeast Asia’s leading eCommerce platform. With a presence in
                        six
                        countries – Indonesia, Malaysia, the Philippines, Singapore, Thailand and Vietnam – we connect
                        this
                        vast and diverse region through our technology, logistics and payments capabilities. Today, we
                        have
                        the largest selection of brands and sellers, and by 2030, we aim to serve 300 million customers.
                        In
                        2016, Lazada became the regional flagship of the Alibaba Group, and is backed by Alibaba’s
                        best-in-class technology infrastructure.</p>
                    <div class="row">
                        <div class="col info first">
                            <h4 class="info-title">Logistic</h4>
                            <p class="info-short-desc">We get it there</p>
                            <p class="info-step">1</p>
                            <p class="info-desc">With end-to-end logistics capabilities and complete control over our
                                supply
                                chain, virtually any
                                product is a click away. We have fulfillment centres across 17 Southeast Asian cities,
                                and
                                our
                                investment in warehouses, sorting centres, and digital technologies complement our
                                partner
                                network and our cross-border and last mile arrangements in each country.</p>
                        </div>
                        <div class="col info second">
                            <h4 class="info-title">Technology</h4>
                            <p class="info-short-desc">A smarter way to shop</p>
                            <p class="info-step">2</p>
                            <p class="info-desc">At Lazada, we harness both existing and emerging technologies to
                                redefine
                                the retail experience.
                                Leveraging data in real time allows us to quickly adapt to changing demands and
                                conditions.
                                We
                                connect consumers to brands, create customised experiences, and have evolved into a
                                retail
                                destination that customers come to for both shopping and entertainment. And we continue
                                to
                                push
                                the boundaries. Project Voyager, our technology stack jointly developed with Alibaba,
                                powers
                                Lazada with the most scalable and competitive product and technology solutions for the
                                next
                                decade.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="info third">
                            <h4 class="info-title">Payments</h4>
                            <p class="info-short-desc">Sales, seamless transactions</p>
                            <p class="info-step">3</p>
                            <p class="info-desc">Ensuring secure and seamless transactions guides the development of
                                Southeast
                                Asia’s most secure
                                payments and financial services infrastructure. In a region still at varying stages of
                                e-payment
                                and eCommerce adoption, we’ve evolved a suite of options that cater to existing
                                preferences
                                while easing customers into digital payments through intuitive solutions they can
                                trust.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="main-footer">
    <div class="footer-body">
        <img class="footer-logo" src="../images/footer-logo.png" alt="">
        <p class="copyright">Copyright &copy; 2022 by Group 8.</p>
    </div>
    <nav class="footer-nav">
        <ul class="footer-nav-items">
            <li class="footer-nav-item"><a href="/about">About Us</a></li>
            <li class="footer-nav-item"><a href="/helps">Helps</a></li>
        </ul>
    </nav>
    <nav class="footer-nav">
        <ul class="footer-nav-items">
            <li class="footer-nav-item"><a href="/contact">Contact</a></li>
            <li class="footer-nav-item"><a href="/policy">Privacy Policy</a></li>
        </ul>
    </nav>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>