.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.container:after {
    content: '';
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.contactBox {
    max-width: 950px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 120px auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.ContainerLeft {
    background: url(../../images/contact.png) no-repeat center;
    background-size: contain;
    height: 60%;
}

.ContainerRight {
    padding: 20px 40px;
}

h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 5px;
}

h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #e59400;
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.preferred-contact {
    text-align: left;
    margin-bottom: 20px;
}

.preferred-contact h3 {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 20px;
}

.preferred-contact .radio-inline {
    padding-right: 10px;
}

.preferred-contact input[type="radio"] {
    margin-right: 3px;
}

textarea {
    min-height: 150px;
    font-family: sans-serif;
    resize: none;
}

.inputBx input[type="submit"],
.inputBx input[type="reset"] {
    font-size: 1em;
    background-color: goldenrod;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    width: 45%;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 5px;
}

.inputBx input[type="reset"]:hover {
    background-color: darkgoldenrod;
}

.inputBx input[type="submit"]:hover {
    background-color: darkgoldenrod;
}

.field:focus {
    border: 2px solid #e59400;
    background-color: #fff;
}


select {
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
    background-color: rgba(230, 230, 230, 0.6);
    border: none;
    font-size: 1.1rem;
    padding: 0.6rem 1rem;
    width: 100%;
    margin-bottom: 22px;
}

.dropSelector {
    position: relative;
}

.disabled {
    color: grey;
}

.arrow {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    background: goldenrod;
    height: 66%;
    width: 3rem;
    pointer-events: none;
}

.arrow::before,
.arrow::after {
    --size: 0.60em;

    content: '';
    position: absolute;
    width: 0px;
    height: 0px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.arrow::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid white;

    top: 35%;
}

.arrow::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid white;

    top: 64%;
}

select:focus {
    border: 2px solid #e59400;
    background-color: #fff;
    outline: none;
}

@media screen and (max-width: 960px) {
    .contactBox {
        grid-template-columns: 1fr;
        box-shadow: none;
        border: none;
    }

    .ContainerLeft {
        display: none;
    }
}