* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    position: relative;
    overflow-y: scroll;
}

.card {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.10);
}

.search {
    width: 100%;
    margin-bottom: auto;
    margin-top: 20px;
    height: 50px;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 10px;
    border-radius: 5px;
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 11px;
    width: 100%;
    caret-color: #e59400;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}


.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: goldenrod;   
    box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.19); 
    background-image: url("../../images/search-white.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 10px;
    bottom: 26px;
    position: relative;
    border-radius: 5px;
}

a:link {
    text-decoration: none
}


.card-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    transition: all 2s;
}


.card-inner:hover {

    transform: scale(1.1);

}

.card-inner-img {
    width: 50px;
}

.mg-text span {
    font-size: 12px;
}

.mg-text {
    line-height: 20px;
}